dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
project.config.json
package-lock.json
yarn.lock

# 本地local配置文件
config/local.js

# 以下文件打包时会自动生成
# src/app.tsx
src/pages/routes.js
src/components/index.ts
